* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0 10px;
  color: #fff;
  background-color: #173750;
  font-family: "Roboto", sans-serif;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

main {
  margin-top: 20px;
  padding-bottom: 50px;
}

button,
input {
  font-family: "Robot", sans-serif;
}
