.garage-options {
  max-width: 500px;
}

.garage-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .garage-race-button,
  .garage-reset-button {
    width: 25%;
  }

  .garage-generate-button {
    width: 45%;
  }
}

.garage-button {
  height: 40px;
  padding: 0 20px;
}

.garage-inputs {
  display: flex;
  align-items: center;
}

.garage-button {
  margin-left: 10px;
}

.garage-create-inputs,
.garage-update-inputs {
  position: relative;

  input[type="color"] {
    width: 20%;
    height: 40px;
    border: 0;
    margin-left: 10px;
    background-color: #000000;
  }
}

.garage-input {
  width: 100%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;    
    background-size: 500% auto;
  }
  input {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    padding: 15px;
    background: #1b1a20;
    border: 0;
    color: #fff;
    font-family: Roboto;
    transition: 0.1s;
    font-size: 15px;
    cursor: text;
  }
}

.garage-update-inputs {
  margin-top: 10px;
}
